.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header>div{
    font-size: 25px;
    font-weight: bold;

}
.post {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.postTitle{
    font-weight: bold;
}
.postBody{
    width: 80%;
}
.newPost{
    border-radius: 5px;
    background: rgb(119, 214, 119);
    border: none;
    height: 25px;
    width: 150px;
    color: white;
    font-weight: bold;
}
.editButton{
    background: rgb(31, 133, 192);
    color: white;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}
